 * {
     margin: 0;
     padding: 0;
 }

@font-face {
     font-family: monts_bold;
     src: url(../fontse/Montserrat-Bold.ttf);
 }

 @font-face {
     font-family: monts_extrabold;
     src: url(../fontse/Montserrat-ExtraBold.ttf);
 }

 @font-face {
     font-family: monts_light;
     src: url(../fontse/Montserrat-Light.ttf);
 }

 @font-face {
     font-family: monts_medium;
     src: url(../fontse/Montserrat-Medium.ttf);
 }

@font-face {
     font-family: monts_regular;
     src: url(../fontse/Montserrat-Regular.ttf);
 }

 .container {   
    height: 100%; 
     background-color: #C1EDD8;
     margin: 0 auto;  
 }

 .header {
    position: relative;
    height: 72px;
     display: flex;
     align-items: center;
     background-color: #89496B;
     z-index:300;
 }

 .options__header{
    margin-left:79px;
    display: flex;
    justify-content: space-around; 
    gap:20px;
    font-family: monts_bold;
    color:#E9F3B8;
 }

 .headerlogo {
     display: flex;
     font-family: monts_extrabold;
     font-size: 28px;
     margin-left: 160px;
     color:#E9F3B8;
 }

 .headerlogo__2 {
    color:#C1EDD8; 
 }


 .dealbutt{
    border-radius: 4px;
    width: 121px;
    height: 44px;
    background-color: #E9F3B8;
   font-family: monts_bold;
    font-size: 14px;
    color:#89496B;
    border: none;
 }

 .dbbuy-1{
     margin-left:439px;
 }

 .firstpage{
   display: flex;
   justify-content: space-between;
 }
 
 .opntxt{
margin-top: 171px;
margin-left:161px;
position:relative;
 }

 .opntxtnorm{
    font-family: monts_extrabold;
    font-size: 48px;
    color:#89496B;
    width: 437px;
    height: 192px;
 }

 .opntxtdesc{
     margin-top:32px;
    font-family: monts_medium;
    font-size: 18px;
    color:#302B35;
     width: 437px;
    height: 84px;
 }

 .dbfur-1{
    margin-top:38px;
 }

 .openimg1{
    margin-top: 69px;
    display: flex;
    margin-left: 54px;
    width:381px;
    height:534px;
     border-radius: 32px 0px 0px 32px;
 }

.opnimggr2{
    margin-top: 69px;
     flex-direction: column;
     margin-left:28px;
    
}
 .openimg2{
    width:286px;
    height:286px;
    border-top-right-radius:32px ;
 }

 .openimg3{
    width:286px;
    height:111px; 
    margin-top:14px;
    border-radius:0px 0px 32px 32px;
 }

 .openimg4{
    margin-top: 14px;
    width:286px;
    height:109px;
    background: linear-gradient(rgba(137,73,107,100%),rgba(193,237,216,50%));
    border-radius:0px 0px 32px 32px;
 }

 /*вторая страница*/

 .secondpage{
display: flex;
position: relative;
flex-direction: column;
 }

 .secptxt{
    font-family: monts_extrabold;
     font-size: 40px;
     text-align:center;
     color:#89496B;
     margin-top:110px;
 }

 .cardrow1{
    margin-top: 96px;
    margin-left:140px;
    display: flex;
    flex-direction: row;
    gap:68px;
 }

 .plateimg{
    position: absolute;
    width: 341px;
    height:278px;
    border-radius:32px;
    z-index:12;
 }

 .whiteplate{
    top:144px;
    margin-left:44px;
    position: relative;
    width: 339px;
    height:278px;
    background-color: #FFFFFF;
    border-radius:32px;
    box-shadow: 0px 20px 50px rgba(48,43,53,25%);
    z-index: 10;
 }

 .wp__text{
    position: absolute;
    font-family: monts_medium;
    font-size: 18px;
    color:#302B35;
    width: 222px;
    height:24px;
    margin-top:160px;
 }

 .wp1{
margin-left:103px;
 }

 .wp2{
   margin-left:70px;
 }

 .wp3{
   margin-left:125px;
 }

 .dbwat-1{
top:216px;
position: absolute;
left:101px;
 }

 .cardrow2{
    margin-top: 225px;
    margin-left:140px;
    display: flex;
    flex-direction: row;
    gap:68px;
 }

/*третья страница*/
.thirdpage{
   position: relative;
   margin-top:240px;
}

.feattxt{
font-family: monts_extrabold;
     font-size: 40px;
     text-align:center;
     color:#89496B;
     
}

.featrow1{
margin-top:96px;
margin-left:130px;
display: flex;
    flex-direction: row;
gap:128px;
}

.featshape{
width:332px;
height:348px;
 border-radius:128px 32px 32px 32px;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
background-color: #FFFFFF;
position: relative;
}

.featicon{
   position: absolute;
width:96px;
height:96px;
margin-left: 118px;
margin-top: 32px;
}

.featoptxt{
   position: absolute;
font-family: monts_medium;
    font-size: 18px;
    color:#302B35;
    margin-top: 156px;
    margin-left: 43px;
}

.featdesctxt{
   position: absolute;
   width:268px;
font-family: monts_regular;
    font-size: 16px;
    color:#302B35;
    margin-top: 212px;
    line-height: 25px;
     margin-left: 32px;
    text-align: center;
}

.statisticshape{
   position: relative;
   margin-top: 96px;
   margin-left: 130px;
   width: 1300px;
   height: 157px;
   background: linear-gradient(to bottom right, rgba(102,193,217,100%),rgba(102,193,217,25%));
   border-radius: 32px 128px 32px 32px;
}

.stnumrow{
   margin-left: 130px;
   margin-top: 33px;
display: flex;
flex-direction: row;
gap: 420px;
justify-content: space-between;
position: absolute;
}

.stnum{
   font-family: monts_extrabold;
    font-size: 28px;
   color: #E9F3B8;
}

.sttxtrow{
     margin-left: 100px;
   margin-top: 33px;
display: flex;
flex-direction: row;
gap: 330px;
justify-content: space-between;
position: absolute;
}

.sttxt{
   font-family: monts_regular;
    font-size: 16px;
    color:#302B35;
    white-space: nowrap;
    margin-top: 70px;

}

/*четвертая страница*/

.fourthpage{
margin-top: 96px;
display: flex;
}

.purchimg{
position: relative;
   margin-left: 130px;
   width: 603px;
   height: 603px;
   border-radius: 32px 128px 32px 32px;
   z-index: 30;
}

.purchbg{
   position: absolute;
background-color: rgba(102,193,217,25%);
border-radius: 32px;
width: 1300px;
   height: 440px;
   z-index: 27;
   margin-left: 130px;
   margin-top: 66px;
}

.purchtxt{
font-family: monts_extrabold;
    font-size: 28px;
   color: #89496B;
   margin-left: 800px;
   margin-top: 35px;
}

.purchbars{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 33px;
margin-left: 800px;
}

.inputbar-1{
width: 438px;
    height: 48px;
    border:none;
    font-family: monts_light;
     font-size: 14px;
     color:#302B35;
}

.inputbar-2{
width: 411px;
    height: 48px;
    border:none;
    font-family: monts_light;
     font-size: 14px;
     color:#302B35;
}

.download__bar{
position: relative;
}

.download__icon{
position: absolute;
margin-top: 13px;
margin-left:15px ;
}

.spacepur-1{
   padding-left: 15px;
}

.spacepur-2{
   padding-left: 42px;
}

.dbpurch-1{
margin-top: 43px;
}

/*пятая страница*/

.fifthpage{
margin-top: 96px;
position:relative;
}

.proctxt{
   font-family: monts_extrabold;
    font-size: 40px;
   color: #89496B;
   text-align: center;
}

.procplateCC{
display: flex;
flex-direction: row;
gap: 240px;
margin-left: 185px;
margin-top: 64px;
position: absolute;
z-index: 50;

}

.procformcircle{
width:98px;
height:96px;
border-radius: 50%;
background-color: #FFFFFF;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
}

.procnum2{
font-family: monts_extrabold;
    font-size: 40px;
    position: absolute;
    margin-top: 21px;
    margin-left:36px;
}

.procnum1{
margin-left: 40px;
font-family: monts_extrabold;
    font-size: 40px;
    position: absolute;
    margin-top: 21px;
}

.procplateSQ{
display: flex;
flex-direction: row;
gap: 80px;
position: relative;
margin-left: 100px;
margin-top: 112px;
z-index: 45;
text-align: center;
}

.procformsquare{
width:272px;
height:249px;
border-radius: 32px;
}

.procfr-1{
background: linear-gradient(to bottom left, rgba(229,61,78,100%), rgba(229,61,78,50%));
}

.procfr-2{
background: linear-gradient(to bottom left, rgba(102,193,217,100%),rgba(102,193,217,50%));
}

.procfr-3{
background: linear-gradient(to bottom left, rgba(233,243,184,100%),rgba(233,243,184,50%));
}

.procfr-4{
background: linear-gradient(to bottom left, rgba(137,73,107,100%),rgba(137,73,107,50%));
}


.procheadtxt{
font-family: monts_medium;
    font-size: 18px;
    margin-top: 85px;
}

.procdesctxt{
font-family: monts_regular;
    font-size: 16px;
    margin-top: 10px;
    width: 214px;
    margin-left: 29px;
    line-height: 26px;
}

/*Шестая страница*/

.sixthpage{
margin-top:96px;
position: relative;
}

.feebtxt{
font-family: monts_extrabold;
    font-size: 40px;
    color:#89496B;
    text-align: center;
}

.feebplate{
   display: flex;
   flex-direction: row;
   gap:64px;
   margin-top: 64px;
   margin-left: 130px;
}

.fbpl{
width:352px;
height:337px;
background-color: #FFFFFF;
border-radius: 128px 32px 32px 32px;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
}

.feeb__ava{
width:107px;
height:107px;
margin-left: 122px;
margin-top: 25px;

}

.feebpltxt{
font-family: monts_regular;
    font-size: 16px;
    color:#302B35;
    margin-top: 15px;
    width:308px;
    margin-left: 22px;
}

.starsrow{
margin-top: 23px;
margin-left: 68px;
}

.feebcomname{
font-family: monts_medium;
    font-size: 18px;
    color:#89496B;
    text-align: center;
    margin-top: 23px;
    margin-right: 20px;
}

/*седьм страница*/

.sevenpage{
   display: flex;
margin-top: 96px;
}

.chooseimgwh{
   position: relative;  
   z-index: 30;
}

.chooseimg1{
    display: flex;
    width:381px;
    height:534px;
     border-radius: 32px 0px 0px 32px;
     margin-left: 700px;
     position: absolute;
 }

.chnimggr2{
   position: absolute;
    display: flex;
     flex-direction: column;
     margin-left:1100px;
    
}
 .chooseimg2{
    width:286px;
    height:286px;
    border-top-right-radius:32px ;
 }

 .chooseimg3{
    width:286px;
    height:111px; 
    margin-top:14px;
    border-radius:0px 0px 32px 32px;
 }

 .chooseimg4{
    margin-top: 14px;
    width:286px;
    height:109px;
    background: linear-gradient(rgba(233,243,184,100%),rgba(137,73,107,50%));
    border-radius:0px 0px 32px 32px;
 }


.choosebg{
   position: relative;
background-color: rgba(102,193,217,25%);
border-radius: 32px;
width: 1300px;
   height: 510px;
   z-index: 27;
   margin-left: 100px;
   margin-top: 10px;
}

.choosetxt{
font-family: monts_extrabold;
    font-size: 28px;
   color: #89496B;
   margin-left: 64px;
   margin-top: 26px;
}

.choosedesctxt{
      margin-top: 48px;
font-family: monts_medium;
    font-size: 18px;
    color:#302B35;
    margin-left: 64px;
}

.choosebars{
display: flex;
flex-direction: column;
gap: 20px;
margin-top: 33px;
margin-left: 64px;
}

.choose__bar{
position: relative;
}

.arrow_scroll{
position: absolute;
margin-top: 13px;
margin-left:412px ;
}

.dbchoose-1{
margin-top: 32px;
}

/*воьсмая страница*/

.eightpage{
display: flex;
position: relative;
flex-direction: column;
     margin-top:100px;
 }

 .blogoptxt{
    font-family: monts_extrabold;
     font-size: 40px;
     text-align:center;
     color:#89496B;
 }

 .blogrow1{
    margin-top: 64px;
    margin-left:140px;
    display: flex;
    flex-direction: row;
    gap:68px;
 }

 .wpbl1{
margin-left:50px;
text-align: center;
 }

 .wpbl2{
   margin-left:65px;
 }

/*девятая страница*/
.ninepage{
position: relative;
display: flex;
}

.mapcntc{
position: relative;
width: 665px;
height:535px;
z-index: 69;
margin-left: 670px;
margin-top: 240px;
}

.bgplastline{
position: absolute;
background-color: rgba(102,193,217,50%);
width: 100%;
height:536px;
z-index: 67;
margin-top: 257px;
}

.cntcoptxt-1{
 font-family: monts_extrabold;
     font-size: 28px;
     color:#89496B;
     margin-left: 167px;
     margin-top: 37px;
}

.cntcoptxt-2{
font-family: monts_extrabold;
     font-size: 28px;
     color:#89496B;
     margin-left: 167px;
     margin-top: 32px;
}

.cntcdesctxt{
font-family: monts_regular;
     font-size: 16px;
     color:#302B35;
     margin-left: 167px;
     margin-top: 24px;
     line-height: 26px;
}

.socialsct{
margin-left: 167px;
margin-top: 24px;
display: flex;
flex-direction: row;
gap: 15px;
}

.socfragment{
width: 44px;
height: 44px;
}

.tenpage{
position: relative;
margin-top: 114px;
}

.ctashape{
   background:linear-gradient(to bottom left, rgba(229,61,78,100%),rgba(233,243,184,100%));
   width: 1234px;
height:188px;
border-radius:32px 16px 32px 64px;
margin-left: 120px;
position: relative;
}

.ctaoptxt{
   position: absolute;
   font-family: monts_extrabold;
     font-size: 28px;
     color:#FFFFFF;
     margin-left: 75px;
margin-top: 37px;
}

.ctadesctxt{
    position: absolute;
   font-family: monts_regular;
     font-size: 16px;
     color:#FFFFFF;
      margin-left: 100px;
margin-top: 105px;
}

.dbcta-1{
    position: absolute;
   background-color: #FFFFFF;
   color: #E53D4E;
    margin-left: 1000px;
margin-top: 98px;
}

/*подвал*/

 .footer{
    margin-top:96px;
    height: 236px;
 }

 .footer__block{
    display:flex;
    background: rgba(137,73,107,75%);
 }

 .footerlogo{
display: flex;
     font-family: monts_extrabold;
     font-size: 28px;
     margin-left: 172px;
     margin-top: 13px;
     color:#E9F3B8;
     position: relative;
 }

 .footerlogodesctxt{
    font-family: monts_regular;
     font-size: 16px;
     margin-left: 156px;
     margin-top:57px;
     color:#C1EDD8;
     position: absolute;
     width: 347px;
height:101px;
 }

 .finfo__op{
 font-family: monts_bold;
     font-size: 14px;
     color:#FFFFFF;
 }

 .finfo__desc{
font-family: monts_regular;
     font-size: 16px;
     color:#C1EDD8;
 }

 .footersoc{
   display: flex;
flex-direction: row;
gap: 15px;
margin-left: 25px;
margin-top: 20px;
 }

 .ff-1{
   margin-left: 292px;
   margin-top: 23px;
 }

.ff-2{
   margin-left: 104px;
   margin-top: 23px;
 }

 .ff-3{
   margin-left: 25px;
   margin-top: 23px;
 }
 .ffd-1{
 margin-left: 292px;
 margin-top: 14px;
 line-height: 30px;
 }

 .ffd-2{
margin-left: 105px;
 margin-top: 14px;
 line-height: 30px;
 }

 .footercred{
    background: rgba(137,73,107,100%);
       width: 100%;
height:44px;
position: absolute;
margin-top: 192px;
 }
 
 .footercredtxt{
   font-family: monts_light;
     font-size: 14px;
     color:#FFFFFF;
     margin-top: 11px;
     text-align: center;
 }



 /* адаптив */

 @media all and (max-width: 400px){
  .container {
    width: 100%;
     background-color: #C1EDD8;
  }

  .header { 
    position: relative;
    height: 60px;
     display: flex;
     background-color: #89496B;
     z-index:300;
 }

 .options__header{
    margin-left:20px;
    margin-top: 25px;
      align-items:end;
    gap:5px;
    font-family: monts_bold;
    color:#E9F3B8;
    position: absolute;
 }

 .headerlogo {
     display: flex;
     font-family: monts_extrabold;
     font-size: 15px;
     margin-left: 20px;
     color:#E9F3B8;
     margin-bottom: 20px;
 }

 .headerlogo__2 {
    color:#C1EDD8; 
 }
 
 .opt{
   font-family: monts_extrabold;
     font-size: 10px;
 }


 .dealbutt{
    border-radius: 2px;
    width: 60px;
    height: 21px;
    background-color: #E9F3B8;
    font-family: monts_bold;
    font-size: 8px;
    color:#89496B;
    border: none;
 }

 .dbbuy-1{
     margin-left:200px;
 }

 .firstpage{
   display: flex;
   flex-direction: column;
 }
 
 .opntxt{
margin-top: 25px;
margin-left:15px;
position:relative;
 }

 .opntxtnorm{
    font-family: monts_extrabold;
    font-size: 20px;
    color:#89496B;
    height: auto;
 }

 .opntxtdesc{
     margin-top:10px;
    font-family: monts_medium;
    font-size:7px;
    color:#302B35;
    width: 300px;
    height: 21px;
 }

 .dbfur-1{
    margin-top:20px;
    position: absolute;
 }

 .openimg1{
   margin-top: 20px;
  position: absolute;
    display: flex;
    margin-left: 165px;
    width:110px;
    height:180px;
     border-radius: 32px 0px 0px 32px;
 }

.opnimggr2{
    margin-top: 20px;
    margin-left: 280px;
     flex-direction: column;
     width:100px;
}
 .openimg2{
    width:100px;
    height:100px;
    border-top-right-radius:32px ;
 }

 .openimg3{
    width:100px;
    height:30px; 
    margin-top:6px;
    border-radius:0px 0px 16px 16px;
 }

 .openimg4{
    margin-top: 6px;
    width:100px;
    height:30px; 
    background: linear-gradient(rgba(137,73,107,100%),rgba(193,237,216,50%));
    border-radius:0px 0px 16px 16px;
 }

 /*вторая страница*/

 .secondpage{
display: flex;
position: relative;
flex-direction: column;
 }

 .secptxt{
    font-family: monts_extrabold;
     font-size: 16px;
     text-align:center;
     color:#89496B;
     margin-top:32px;
 }

 .cardrow1{
    margin-top: 24px;
    margin-left:20px;
    display: flex;
    flex-direction: row;
    gap:10px;
 }

 .plateimg{
    position: absolute;
   width: 100px;
    height:70px;
    border-radius:16px;
    z-index:12;
 }

 .whiteplate{
    top:40px;
    margin-left:12px;
    position: relative;
    width: 100px;
    height:70px;
    background-color: #FFFFFF;
    border-radius:16px;
    box-shadow: 0px 20px 50px rgba(48,43,53,25%);
    z-index: 10;
 }

 .wp__text{
    position: absolute;
    font-family: monts_medium;
    font-size: 6px;
    color:#302B35;
    margin-top:35px;
 }

 .wp1{
margin-left:30px;
 }

 .wp2{
   margin-left:18px;
 }

 .wp3{
   margin-left:37px;
 }

 .dbwat-1{
top:50px;
position: absolute;
left:29px;
width: 40px;
    height:15px;
   font-family: monts_bold;
    font-size: 5px;
 }
 .cardrow2{
  margin-top: 70px;
    margin-left:20px;
    display: flex;
    flex-direction: row;
    gap:10px;
 }

/*третья страница*/
.thirdpage{
   position: relative;
   margin-top:80px;
}

.feattxt{
font-family: monts_extrabold;
     font-size: 16px;
     text-align:center;
     color:#89496B;
     
}

.featrow1{
margin-top:32px;
margin-left:15px;
display: flex;
    flex-direction: row;
gap:10px;
}

.featshape{
width:112px;
height:120px;
 border-radius:48px 16px 16px 16px;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
background-color: #FFFFFF;
position: relative;
}

.featicon{
   position: absolute;
width:30px;
height:30px;
margin-left: 45px;
margin-top: 10px;
}

.featoptxt{
   position: absolute;
font-family: monts_medium;
    font-size: 8px;
    color:#302B35;
    margin-top: 50px;
    margin-left: 4px;
    text-align: center;
}

.featdesctxt{
   position: absolute;
   width:80px;
font-family: monts_regular;
    font-size: 6px;
    color:#302B35;
    margin-top: 75px;
    line-height: 6px;
     margin-left: 18px;
    text-align: center;
}

.statisticshape{
   position: relative;
   margin-top: 24px;
   margin-left: 20px;
   width: 360px;
   height: 60px;
   background: linear-gradient(to bottom right, rgba(102,193,217,100%),rgba(102,193,217,25%));
   border-radius: 32px 128px 32px 32px;
}

.stnumrow{
   margin-left: 35px;
   margin-top:12px;
display: flex;
flex-direction: row;
gap: 100px;
justify-content: space-between;
position: absolute;
}

.stnum{
   font-family: monts_extrabold;
    font-size: 12px;
   color: #E9F3B8;
}

.sttxtrow{
     margin-left: 20px;
   margin-top: 40px;
display: flex;
flex-direction: row;
gap: 60px;
position: absolute;
}

.sttxt{
   font-family: monts_regular;
    font-size: 7px;
    color:#302B35;
    white-space: nowrap;
    margin-top: auto;

}

/*четвертая страница*/

.fourthpage{
margin-top: 32px;
display: flex;
}

.purchimg{
position: relative;
   margin-left: 20px;
   width: 200px;
   height: 200px;
   border-radius: 16px 48px 16px 16px;
   z-index: 30;
}

.purchbg{
   position: absolute;
background-color: rgba(102,193,217,25%);
border-radius: 16px;
width: 360px;
   height: 150px;
   z-index: 27;
   margin-left: 30px;
   margin-top: 30px;
}

.purchtxt{
font-family: monts_extrabold;
    font-size: 10px;
   color: #89496B;
   margin-left: 200px;
   margin-top: 10px;
}

.purchbars{
display: flex;
flex-direction: column;
gap: 5px;
margin-top: 10px;
margin-left: 200px;
}

.inputbar-1{
width: 135px;
    height: 20px;
    border:none;
    font-family: monts_light;
     font-size: 4px;
     color:#302B35;
}

.inputbar-2{
width: 125px;
    height: 20px;
    border:none;
    font-family: monts_light;
     font-size: 4px;
     color:#302B35;
}

.download__bar{
position: relative;
}

.download__icon{
position: absolute;
margin-top: 8px;
margin-left:4px;
width: 10px;
height: 9px;
}

.spacepur-1{
   padding-left: 5px;
}

.spacepur-2{
   padding-left: 15px;
}

.dbpurch-1{
margin-top: 5px;
width: 40px;
    height:15px;
   font-family: monts_bold;
    font-size: 5px;
}

/*пятая страница*/

.fifthpage{
margin-top: 32px;
position:relative;
}

.proctxt{
   font-family: monts_extrabold;
     font-size: 16px;
     text-align:center;
     color:#89496B;
}

.procplateCC{
display: flex;
flex-direction: row;
gap: 50px;
margin-left: 40px;
margin-top: 24px;
position: absolute;
z-index: 50;
}

.procformcircle{
width:30px;
height:30px;
border-radius: 50%;
background-color: #FFFFFF;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
}

.procnum1{
font-family: monts_extrabold;
    font-size: 14px;
    position: absolute;
    margin-top: 6px;
    margin-left:12px;
}

.procnum2{
font-family: monts_extrabold;
    font-size: 14px;
    position: absolute;
    margin-top: 6px;
    margin-left:11px;
}

.procplateSQ{
display: flex;
flex-direction: row;
gap: 15px;
position: relative;
margin-left: 15px;
margin-top: 40px;
z-index: 45;
text-align: center;
}

.procformsquare{
width:80px;
height:90px;
border-radius: 16px;
}

.procfr-1{
background: linear-gradient(to bottom left, rgba(229,61,78,100%), rgba(229,61,78,50%));
}

.procfr-2{
background: linear-gradient(to bottom left, rgba(102,193,217,100%),rgba(102,193,217,50%));
}

.procfr-3{
background: linear-gradient(to bottom left, rgba(233,243,184,100%),rgba(233,243,184,50%));
}

.procfr-4{
background: linear-gradient(to bottom left, rgba(137,73,107,100%),rgba(137,73,107,50%));
}


.procheadtxt{
font-family: monts_medium;
    font-size: 7px;
    margin-top: 30px;
}

.procdesctxt{
font-family: monts_regular;
    font-size: 6px;
    margin-top: 8px;
    width: 70px;
    margin-left: 6px;
    line-height: 6px;
}

/*Шестая страница*/

.sixthpage{
margin-top:32px;
position: relative;
}

.feebtxt{
font-family: monts_extrabold;
     font-size: 16px;
     text-align:center;
     color:#89496B;
}

.feebplate{
   display: flex;
   flex-direction: row;
   gap:15px;
   margin-top: 24px;
   margin-left: 20px;
}

.fbpl{
width:110px;
height:103px;
background-color: #FFFFFF;
border-radius: 48px 16px 16px 16px;
box-shadow: 0px 20px 50px rgba(48,43,53,25%);
}

.feeb__ava{
width:30px;
height:30px;
margin-left: 40px;
margin-top: 8px;

}

.feebpltxt{
font-family: monts_regular;
    font-size: 6px;
    color:#302B35;
    margin-top: 8px;
    width:90px;
    margin-left: 10px;
    text-align: center;
}

.starsrow{
margin-top: 5px;
margin-left: 30px;
flex-direction: row;
display: flex;
}

.starfragment{
width: 10px;
height: 10px;
}

.feebcomname{
font-family: monts_medium;
    font-size: 6px;
    color:#89496B;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}

/*седьм страница*/

.sevenpage{
   display: flex;
margin-top: 24px;
}

.chooseimgwh{
   position: relative;  
   z-index: 30;
}

.chooseimg1{
    display: flex;
   width:80px;
    height:155px;
     border-radius: 32px 0px 0px 32px;
     margin-left: 205px;
     margin-top: 55px;
     position: absolute;
 }

.chnimggr2{
   position: absolute;
    display: flex;
     flex-direction: column;
     margin-left:290px;

    
}
 .chooseimg2{
   margin-top: 55px;
       width:80px;
    height:80px;
    border-top-right-radius:32px ;

 }

 .chooseimg3{
       width:80px;
    height:30px; 
    margin-top:6px;
    border-radius:0px 0px 16px 16px;
 }


 .chooseimg4{
    margin-top: 6px;
    width:80px;
    height:30px;
    background: linear-gradient(rgba(233,243,184,100%),rgba(137,73,107,50%));
    border-radius:0px 0px 16px 16px;
 }


.choosebg{
   position: relative;
background-color: rgba(102,193,217,25%);
border-radius: 32px;
width: 360px;
   height: 200px;
   z-index: 27;
   margin-left: 10px;
   margin-top: 32px;

}

.choosetxt{
 font-family: monts_extrabold;
    font-size: 10px;
   color: #89496B;
   margin-left: 20px;
   margin-top: 10px;
  
}

.choosedesctxt{
      margin-top: 10px;
font-family: monts_medium;
    font-size: 6px;
    color:#302B35;
    margin-left: 20px;
}

.choosebars{
display: flex;
flex-direction: column;
gap: 5px;
margin-top: 10px;
margin-left: 20px;
}

.choose__bar{
position: relative;
}

.arrow_scroll{
position: absolute;
margin-top:8px;
margin-left:125px ;
width: 10px;
height: 10px;
}

.dbchoose-1{
margin-top: 15px;
width: 40px;
    height:15px;
   font-family: monts_bold;
    font-size: 5px;

}

/*воьсмая страница*/

.eightpage{
display: flex;
position: relative;
flex-direction: column;
     margin-top:32px;
 }

 .blogoptxt{
    font-family: monts_extrabold;
     font-size: 16px;
     text-align:center;
     color:#89496B;
 }

 .blogrow1{
        margin-top: 24px;
    margin-left:20px;
    display: flex;
    flex-direction: row;
    gap:10px;  
 }

 .wpbl1{
margin-left:15px;
width: 70px;
height: 10px;
font-size: 5px;
 }

 .wpbl2{
   margin-left:22px;
   font-size: 5px;
 }

 .dbwat-1{
top:53px;
width: 40px;
    height:12px;
   font-family: monts_bold;
    font-size: 5px;
 }


/*девятая страница*/
.ninepage{
position: relative;
display: flex;
}

.mapcntc{
position: relative;
width: 180px;
height:170px;
z-index: 69;
margin-left: 190px;
margin-top: 80px;
}

.bgplastline{
position: absolute;
background-color: rgba(102,193,217,50%);
width: 100%;
height:150px;
z-index: 67;
margin-top: 96px;
}

.cntcoptxt-1{
 font-family: monts_extrabold;
     font-size: 10px;
     color:#89496B;
     margin-left: 20px;
     margin-top: 10px;
}

.cntcoptxt-2{
font-family: monts_extrabold;
     font-size: 10px;
     color:#89496B;
     margin-left: 20px;
     margin-top: 8px;
}

.cntcdesctxt{
font-family: monts_regular;
     font-size: 6px;
     color:#302B35;
     margin-left: 20px;
     margin-top: 6px;
     line-height: 5px;
}

.socialsct{
margin-left: 20px;
margin-top: 10px;
display: flex;
flex-direction: row;
gap: 5px;
}

.socfragment{
width: 15px;
height: 15px;
}

.tenpage{
position: relative;
margin-top: 32px;
}

.ctashape{
background:linear-gradient(to bottom left, rgba(229,61,78,100%),rgba(233,243,184,100%));
width: 350px;
height:70px;
border-radius:16px 8px 8px 32px;
margin-left: 20px;
position: relative;
}

.ctaoptxt{
   position: absolute;
   font-family: monts_extrabold;
     font-size: 12px;
     color:#FFFFFF;
     margin-left: 15px;
margin-top: 14px;
}

.ctadesctxt{
    position: absolute;
   font-family: monts_regular;
     font-size: 6px;
     color:#FFFFFF;
      margin-left: 20px;
margin-top: 38px;
}

.dbcta-1{
    position: absolute;
   background-color: #FFFFFF;
   color: #E53D4E;
    margin-left: 280px;
margin-top: 40px;
}

/*подвал*/

 .footer{
    margin-top:32px;
    height: 100px;
 }

 .footer__block{
    display:flex;
    background: rgba(137,73,107,75%);
 }

 .footerlogo{
display: flex;
     font-family: monts_extrabold;
     font-size: 13px;
     margin-left: 20px;
     margin-top: 7px;
     color:#E9F3B8;
     position: relative;
 }

 .footerlogodesctxt{
    font-family: monts_regular;
     font-size: 6px;
     margin-left: 20px;
     margin-top:30px;
     color:#C1EDD8;
     position: absolute;
     width: 70px;
height:101px;
 }

 .finfo__op{
 font-family: monts_bold;
     font-size: 7px;
     color:#FFFFFF;
 }

 .finfo__desc{
font-family: monts_regular;
     font-size: 6px;
     color:#C1EDD8;
 }

 .footersoc{
   display: flex;
flex-direction: row;
gap: 5px;
margin-left: 25px;
margin-top: 10px;
 }

 .ff-1{
   margin-left: 50px;
   margin-top: 10px;
 }

 .ff-2{
   margin-left: 25px;
   margin-top: 10px;
 }

 .ff-3{
   margin-left: 25px;
   margin-top: 10px;
 }

 .ffd-1{
  margin-left: 50px;
   margin-top: 10px;
 line-height: 10px;
 }

 .ffd-2{
 margin-left: 25px;
   margin-top: 10px;
 line-height: 10px;
 }

 .footercred{
    background: rgba(137,73,107,100%);
       width: 100%;
height:20px;
position: absolute;
margin-top: 90px;
 }
 
 .footercredtxt{
   font-family: monts_light;
     font-size: 6px;
     color:#FFFFFF;
     margin-top: 7px;
     text-align: center;
 }

}